arena_width=1280
arena_height=720

player_start_x = 40
player_start_y = 250
player_speed = 3
player_damage = 20
player_health = 100

bot_start_x = 750
bot_start_y = 250
bot_speed = 2
bot_damage = 20
bot_health = 100

slash_frames = 20
spin_frames = 240
gold_frames = 180

sprite_width = 80
sprite_height = 80
sprite_scale = 1