player_health=100
fullscreen=true
sprite_height=80
fx_volume=34
bot_start_y=250
bot_damage=20
arena_height=720
bot_start_x=710
window_width=1280.0
music_volume=52
player_speed=3
sprite_scale=1
arena_width=1024
player_start_y=250
player_damage=20
player_start_x=80
bot_speed=2
window_height=720.0
gold_frames=180
window_size_index=1
bot_difficulty_index=2
spin_frames=240
slash_frames=20
bot_health=100
sprite_width=80
